{% extends "layout.html" %}
{% block body %}
    <h2>Add a Listing</h2>
    {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
  	{% if session.logged_in %}
    <form action="{{ url_for('add_listing') }}" method=post>
    <dl>
      <dt>User ID:
      <dd><input type=integer name=user>
      <dt>Meal Time:
      <dd><input type=integer name=meal_time>
      <dt>Place:
      <dd><input type=text name=place>
      <dt>Cost:
      <dd><input type=decimal name=cost>
      <dd><input type=submit value='Create Listing'>
    </dl>
  </form>
  {% endif %}
  <h2>Listings</h2>
  <ul class=listings>
  {% for entry in listings %}
  <div class=entry>
    <li><h2>User ID: {{ entry.user_id }}</h2>
    	<p>Meal Time: {{ entry.meal_time }}</p>
    	<p>Place: {{ entry.place }}</p>
    	<p>Cost: {{ entry.cost }}</p>
    	<p>ID: {{ entry.listing_id|safe }}</p></li>
  </div>
  {% else %}
  <div class=entry>
    <li><em>Unbelievable.  No listings here so far</em></li>
  </div>
  {% endfor %}
  </ul>
{% endblock %}