{% extends "layout.html" %}
{% block body %}
    <h2>Create an Account</h2>
    {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
    <form action="{{ url_for('create_account') }}" method=post>
    <dl>
      <dt>Name:
      <dd><input type=text name=name>
      <dt>Username:
      <dd><input type=text name=username>
      <dt>Password:
      <dd><input type=password name=password>
      <dt>Venmo ID:
      <dd><input type=text name=venmo>
      <dt>Phone Number:
      <dd><input type=integer name=phone_number>
      <dd><input type=submit value='Create Account'>
    </dl>
  </form>
{% endblock %}